{% include "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <body onload="pencil()">
        <p><h2 id="title">Paint App</h2></p>
        
        <!-- Add prompt box to display prompts -->
        <div id="prompt-box">
            <h3>Prompt:</h3>
            <p id="prompt-text">{{ prompt }}</p>
        </div>
        
        <p><table>
            <tr>
            <td>
                <fieldset id="toolset">
                <br>
                <br>
                <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Pencil</button>
                <br>
                <br>
                <br>
                <button id="linetool" type="button" style="height: 25px; width: 100px;" onclick="line()">Line</button>
                <br>
                <br>
                <br>
                <button id="rectangletool" type="button" style="height: 25px; width: 100px;" onclick="rectangle()">Rectangle</button> 
                <br>
                <br>
                <br>
                <button id="circletool" type="button" style="height: 25px; width: 100px;" onclick="circle()">Circle</button> 
                <br>
                <br>
                <br>
                <button id="erasertool" type="button" style="height: 25px; width: 100px;" onclick="eraser()">Eraser</button> 
                <br>
                <br>
                <br>
                <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button> 
                </fieldset>
            </td>
            <td>
                <canvas id="paint" width="750" height="450" style="border: 5px solid #000000;"></canvas>
            </td>
            </tr>
        </table></p>
        <fieldset id="colorset">
        <table>
            <tr>
                <!-- Your color palette buttons -->
            </tr>
            
        </table>
        <label>Your Prompt: </label><input id="fname" type="text" placeholder="Upside down Dinosaur"><button id="save" onclick="save()">Submit</button>
        </fieldset>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
